<!DOCTYPE html>
<html>
	<head>
		<title>NoteBook</title>
		<%= render "layouts/rails_default" %>
	</head>
	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</body>
</html>